html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.grid-con {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: blueviolet;
}
main {
  grid-area: main;
  padding: 1;
  background-color: wheat;
}
footer {
  grid-area: footer;
  background-color: blueviolet;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: tomato;
}
header a {
  padding: 1rem;
  color: white;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.row.center {
  justify-content: center;
}
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
.card {
  border: 0.1rem gray solid;
  background-color: white;
  border-right: 0.5rem;
  margin: 1rem;
}
.card-bd {
  padding: 1rem;
}
.card-bd > * {
  margin-bottom: 0.5rem;
}
h2.prize {
  font-size: 2rem;
}
.rate span {
  color: gold;
  margin: 0.1rem;
}
.sty {
  height: 400px;
  width: 200px;
}
